.card__website {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
}

@media screen and (max-width: 767px) {
  .card__website {
    max-width: 320px;
  }
}

@media screen and (max-width: 345px) {
  .card__website {
    max-width: 288px;
    padding: 0 0 0 16px;
  }
}