.footer {
  display: flex;
  width: 92.5%;
  max-width: 1184px;
  min-width: 288px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 92px 0 24px 0;
  color: white;
}

@media screen and (max-width: 1024px) {
  .footer {
    max-width: 928px;
    padding: 88px 0 24px 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 94%;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 64px 0 24px 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 288px;
  }
}